body {
    background: #737373;
}

div.container {
    border: 1px solid blue;
    width: 780px;
    /*min-height: 500px;*/
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

.container header > img {
    display: block;
}

.nav {
    text-align: right;
    margin-right: 1rem;
}

.nav a {
    color: black;
    text-transform: uppercase;
    margin: 0 3px;
    padding: 5px;
    text-decoration: none;
}

div.nav span a:hover {
    text-decoration: underline;
}

.nav span:after {
    content: " |";
}

.nav span:last-of-type:after {
    content: "";
}

.nav a img {
    vertical-align: middle;
}

.middle {
    background-image: url('uofu_medallion_rt.gif');
    background-position: bottom right;
    background-repeat: no-repeat;
}

section.guts {
    /*min-height: 500px;*/
    background-color: #c0c2a2;
    margin: 1rem 1rem 5.5rem 1rem;
    padding: 1rem;
}

div.middle section.guts aside.nav,
div.middle section.guts article.main {
    /*border: 1px solid white;*/
}

div.middle section.guts aside.nav {
    float: left;
    width: 220px;
    /*min-height: 600px;*/
}


aside.nav a {
    display: block;
    border-bottom: 1px solid #7fffbc;
    font-size: 85%;
    padding: 10px;
}

aside.nav a:hover {
    background-color: #7fffbc;
    text-decoration: underline;
}

aside.nav div.nav-img-links {
    margin-top: 5rem;
    text-align: center;
}
aside.nav div.nav-img-links a {
    border-bottom: unset;
}
aside.nav div.nav-img-links a:hover {
    background-color: unset;
}


div.middle section.guts article.main {
    float: right;
    width: 460px;
    background-color: #fff;
    padding: 0.5rem;
}

article.main img {
    width: 100%;
}

article.main h1 {
    color: red;
    font-weight: normal;
    text-transform: uppercase;
    border-bottom: 2px dotted red;
    margin-bottom: 0.5rem;
}

article.main div.content {
    height: 100px;
    overflow: auto;
}

div.content p {
    margin-top: 0;
}

div.content p span {
    font-weight: bold;
}

article.main a {
    display: block;
    text-align: right;
    margin: 0.5rem 0;
    color: red;
    font-size: 85%;
    text-decoration: none;
}
article.main a:hover {
    text-decoration: underline;
}

.bottom a {
    text-transform: lowercase;
    font-size: 9px;
}

footer {
    background-color: darkolivegreen;
    color: white;
    font-size: 9px;
    text-align: center;
    padding: 5px 0;
}
